<h1>Products List</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li>
        <strong>Title:</strong> <%= product.title %><br>
        <strong>Price:</strong> <%= product.price %><br>
        <strong>Stock Quantity:</strong> <%= product.stock_quantity %><br>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No products available.</p>
<% end %>
